use flake --impure

export NETWORK=arabica
export NODE_TYPE=light
export RPC_URL=validator-2.celestia-arabica-11.com
export CELESTIA_CLIENT_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBbGxvdyI6WyJwdWJsaWMiLCJyZWFkIiwid3JpdGUiLCJhZG1pbiJdfQ.ut1X4u9XG5cbV0yaRAKfGp9xWVrz3NoEPGGRch13dFU
export NODE_STORE=$HOME/.celestia-light-arabica-11
export CELESTIA_CLIENT_API_NODE_URL=ws://localhost:26658
export CELESTIA_CLIENT_API_PRIVATE_key=""
