[submodule "contracts"]
path = contracts
url = https://github.com/vianetwork/era-contracts.git
branch = main

[submodule "via-core-ext"]
path = via-core-ext
url = git@github.com:vianetwork/via-core-ext.git
branch = main
